# 기본
streamlit>=1.40.0
pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
tqdm>=4.66.0

# PyTorch + Transformers 기반 딥러닝용 (CUDA 지원)
# cu118 → CUDA 11.8 기반 GPU
torch>=2.6.0+cu118
torchvision>=0.17.0+cu118
torchaudio>=2.6.0+cu118
transformers>=4.46.0
accelerate>=0.26.0
datasets>=3.0.0
safetensors>=0.4.2
tensorflow
tf-keras

# 한글 토큰화 (예: KoBERT, KoELECTRA 등)
sentencepiece>=0.2.0

# 기타 유틸
matplotlib>=3.8.0
seaborn>=0.13.0
